<hr>  
<h1 style="color:brown">Second Component: Reading the Data by Service </h1>  
  
<div style="text-align: left">  
    <table>  
        <tr>  
            <td>  
                Size is :  
            </td>  
            <td>  
                {{ data.size }}  
            </td>  
        </tr>  
        <tr>  
            <td>  
                Square is:  
            </td>  
            <td>  
                {{data.square}}  
            </td>  
        </tr>  
         
    </table>  
</div>  
<hr>  