<!--The content below is only a placeholder and can be replaced.-->



<div>
    <table>
      <tr>
        {{title}}
        <td routerLinkActive="active" style="font-size:30px;border:10px;background:-moz-element;background-color: coral;"  >
            <a routerLink="Home">Home</a>
  
        </td>
      
          <td routerLinkActive="active"  style="font-size:30px;border:10px;background:-moz-element;background-color: coral;" >
            <a routerLink="Employees">Employees</a>
         
        </td>
  
        </tr>
        <br/>
    </table>
    <router-outlet></router-outlet>
  </div>

<hr>  

<div>

 
</div>
<h1 style="color:#253535">App Component:Setting the Service Data ! </h1>  
<div style="text-align:center">  
    <div>  
        <table>  
            <tr>  
                <td>  
                    Size is :  
                </td>  
                <td>  
                    {{ size }}  
                </td>  
            </tr>  
            <tr>  
                <td>  
                    Square is:  
                </td>  
                <td>  
                    {{square}}  
                </td>  
            </tr>  
            <tr>  
                <td>  
  
                </td>  
                <td>  
           
                </td>  
            </tr>  
        </table>  
    </div>  
    <hr>  

