<div style="border:2px solid gray;">


  <table style="width:100%">
    <tr style="background: cyan;">

      <th>Account Id</th>
      <th class="tablerow">Name</th>
      <th class="tablerow">AccountHolderName</th>
      <th class="tablerow">Address</th>
      <th class="tablerow">phoneNo</th>
      <th class="tablerow">EMail</th>
      <th class="tablerow">Account Balance</th>
      <th class="tablerow">Account Type</th>
      <th class="tablerow">Account Open Date</th>
      <th class="tablerow">Account Credit Score</th>
    </tr>

    <tr *ngFor="let col of accountlist; let i = index" style="border:2px solid gray;">

      <td class="tablerowcell">{{col.Accountid}}</td>
      <td class="tablerowcell">{{col.AccountNumber}}</td>
      <td class="tablerowcell">{{col.AccountHolderName}}</td>
      <td class="tablerowcell">{{col.AccountNumAccountHoldeAddress}}</td>

      <td class="tablerowcell">{{col.phoneNo}}</td>
      <td class="tablerowcell">{{col.EMail}}</td>

      <td class="tablerowcell">{{col.AccountBalance}}</td>
      <td class="tablerowcell">{{col.AccountType}}</td>
      <td class="tablerowcell">{{col.AccountOpenDate}}</td>
      <td class="tablerowcell">{{col.AccountCreditScore}}</td>
    </tr>
  </table>
</div>